body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.todo-container {
    background-color: #8a5066;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

input {
    width: calc(100% - 60px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #cecaa5;
    color: rgb(104, 104, 104);
    cursor: pointer;
    margin-bottom: 10px;
}

button:hover {
    background-color: #093133;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li input {
    flex: 1;
    border: none;
    background: transparent;
    font-size: 16px;
    padding: 5px;
}

li input:disabled {
    color: #333;
}

li button {
    background-color: #cecaa5;
    ;
    border: none;
    border-radius: 5px;
    color: rgb(130, 124, 124);
    cursor: pointer;
    margin-left: 10px;
}

li button.edit {
    background-color: #cecaa5;
}

li button:hover {
    background-color: #d32f2f;
}
